:root {
  --primary-color: #2BAE66FF;
  --secondary-color: #FCF6F5FF;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--secondary-color);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--primary-color);
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: medium;
  padding: 1.5ex;
  display: flex;
  justify-content: space-between;
}

.footer {
  font-size: x-small;
  text-align: center;
  padding: 1ex;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  margin-top: 1ex;
}

.user_info {
  display: flex;
  align-items: center;
}

.btn_logout {
  background: none;
  border: none;
  color: var(--secondary-color);
  margin-right: 20px;
  margin-left: 20px;
}
